<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div> Check Todo Details </div>
    <ul>
    <% @todos.each do |todo| %>
    <li>
        <%= link_to todo.name, todo %>
    </li>
    <% end %>
    </ul>
    <%= link_to "New Todo", new_todo_path %>
</body>
</html>