<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/action_page.php">
        <label for="fname">Login:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Password:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>

    <div> Test </div>
    <ul>
    <% @users.each do |user| %>
    <li>
    <%= user.first_name %>
    </li>
    <% end %>
    </ul>
    <% 
        @user1 = User.find(1)
        @user5 = User.find(5)
        @users_test_2 = [@user1, @user5]
    %>
    <div> Test2 </div>
    <ul>
    <% @users_test_2.each do |user| %>
        <li>
        <%= user.name %>
        </li>
    <% end %>
    </ul>


</body>
</html>